@import 'modern/light';
@import '../flavours/glitch/styles/mastodon-light';
@import 'modern/style';
@import 'modern/glitch-diff';

#mastodon {
  .compose-form .autosuggest-textarea__suggestions,
  .compose-form .compose-form__buttons-wrapper {
    background: #ecf0f4;
  }
}
