// Might be missing
$classic-base-color: #282c37;

// Our color
$classic-highlight-color: #ff9800;
$ui-highlight-color: $classic-highlight-color;
$highlight-text-color: $ui-highlight-color;

// Import default (vanilla) styles
@import 'application';

// Import our theme
@import 'space';
