// Might be missing
$classic-base-color: #282c37;

// Our color
$classic-highlight-color: #ff9800;
$ui-highlight-color: $classic-highlight-color;
$highlight-text-color: $ui-highlight-color;

// Import default (glitch) styles
@import '../flavours/glitch/styles/index';

// Import our theme
@import 'space';
