/* Instance-stuff */
body:not(.app-body):not(.admin) {
  background: $classic-base-color url('~images/space-bg.jpg');
}

// Remove the left padding
#mastodon .status {
  --status-left-padding: 15px !important;
}

.public-layout {
  .activity-stream {
    // There's a shadow floating, removing it
    box-shadow: none;
    
    .entry {
      // Modern sets the background to none, put one back
      // in case the profile has a background
      background: $ui-base-color !important;
      // Also add a separator between posts
      border-bottom: 1px solid lighten($ui-base-color, 8%);
    }
  }

  // Fix the background when hovering too
  .detailed-status:hover,
  .entry:hover,
  .focusable:hover,
  .detailed-status:focus-within,
  .entry:focus-within,
  .focusable:focus-within {
    background-color: lighten($ui-base-color, 2%) !important;
  }

  // Add some backgrounds to elements in case there's a background
  .contact-widget,
  .landing-page__information.contact-widget,
  .endorsements-widget {
    background-color: $ui-base-color;
    border-radius: var(--radius);
  }

  // Same as above, but lighter
  .account__section-headline {
    background: lighten($ui-base-color, 8%);
    border-radius: var(--radius) !important;
  }

  // Same as above for the footer, and add some spaces
  .footer {
    background: $ui-base-color;
    border-radius: var(--radius);
    overflow: hidden;
    margin-bottom: 60px;
    margin-top: 10px;
    padding: 15px !important;
  }
}

/* Fixes */
#mastodon {
  .status {
    // Modern sets the background to none,
    // so put one back for direct statuses
    &.status-direct {
      background: lighten($ui-base-color, 8%) !important;
      border-bottom-color: lighten($ui-base-color, 12%) !important;
    }

    // Fix the collapsed gradiant so it stays inside the "card"
    &.collapsed {
      .status__content:after {
        left: 85px;
        right: 85px;
      }
    }
  }

  // The -10px here breaks a lot in Glitch, like collapsed statuses don't show
  // the basic info, or it's just too close to the user name. It's fine at 0.
  // Also fix alignement with a smaller padding-top.
  .notification__message,
  .status__prepend {
    margin-bottom: 0px !important;
    padding-top: 8px !important;
  }

  // For the calc(), it's because it slightly cuts off the icons on the left due
  // to removing the big left padding.
  .status__prepend {
    margin-inline-start: calc(var(--status-left-padding) + 15px);
  }

  // Since we have more elements on the action bar (including the date/time)
  // I'm redecing the padding a bit
  .detailed-status__action-bar .icon-button,
  .status__action-bar .icon-button {
    padding: .2em !important;
  }
  .status__action-bar-button {
    margin-right: 8px
  }

  // Glitch still uses -- here while vanilla is __
  // so I'm just kinda copy-pasting the styles here
  .drawer--header {
    background: lighten($ui-base-color, 8%);
    border-radius: var(--radius-round);
    margin-inline: 5px;
    overflow: hidden;
    border: 0!important;
    
    & > * {
      border-bottom: none;
    }
  }

  // Make the background on the compose column transparent
  // which is better on mobile IMO
  .drawer__inner:not(.darker),
  .drawer__inner__mastodon {
    background-color: transparent !important;
  }

  // The cancel button when replying was inaccessible
  .composer--reply .account {
    display: inline-block;
    width: calc(100% - 1.28571em - 10px);
  }

  .pillbar-button {
    // Fix unreadable options in the column settings when not selected
    &:not(.active) {
      color: $darker-text-color;
    }

    // And remove ugly box-shadow
    &:not([disabled]).active {
      box-shadow: none;
    }
  }
}

@media (max-width: 895px) {
  #mastodon .status__action-bar,
  .public-layout .status__action-bar {
    // Reverting the margin on elements that were negative due to the
    // big padding the theme used to have
    margin-left: 0 !important;
  }
}

// This was used in mastodon.coffee, I like it
.layout-multiple-columns .column {
  flex-grow: 1;
  max-width: 500px;
}
