/* Instance-stuff */
body:not(.app-body) {
  background: $classic-base-color url('~images/space-bg.jpg');
}

/* Fixes */
.public-layout {
  .activity-stream {
    box-shadow: none;
    
    .entry {
      background: $ui-base-color !important;
      border-bottom: 1px solid lighten($ui-base-color, 8%);
    }
  }

  .entry:hover,
  .focusable:hover {
    background-color: lighten($ui-base-color, 2%);
  }

  .contact-widget,
  .landing-page__information.contact-widget,
  .endorsements-widget {
    background-color: $ui-base-color;
    border-radius: var(--radius);
  }

  .account__section-headline {
    background: lighten($ui-base-color, 8%);
    border-radius: var(--radius)!important;
  }

  .footer {
    background: $ui-base-color;
    border-radius: var(--radius);
    overflow: hidden;
    margin-bottom: 60px;
    margin-top: 10px;
    padding: 15px !important;
  }
}

#mastodon {
  .status {
    padding: 15px !important;

    // Force it back
    &.status-direct {
      background: lighten($ui-base-color, 8%) !important;
      border-bottom-color: lighten($ui-base-color, 12%) !important;
    }
  }

  &:not(.detailed-status__wrapper) .media-gallery,
  &:not(.detailed-status__wrapper) .video-player {
    margin-left: 0px;
  }

  .detailed-status__action-bar .icon-button,
  .status__action-bar .icon-button {
    padding: .2em !important
  }

  .drawer--header {
    background: lighten($ui-base-color, 8%);
    border-radius: var(--radius-round);
    margin-inline: 5px;
    overflow: hidden;
    border: 0!important;
    
    & > * {
      border-bottom: none;
    }
  }

  .drawer__inner,
  .drawer__inner__mastodon {
    background-color: transparent !important;
  }

  .pillbar-button {
    &:not(.active) {
      color: $darker-text-color;
    }

    &:not([disabled]).active {
      box-shadow: none;
    }
  }
}

@media (max-width: 895px) {
  #mastodon .status__action-bar,
  .public-layout .status__action-bar {
    margin-left: 0 !important;
  }
}

.layout-multiple-columns .column {
  flex-grow: 1;
  max-width: 500px;
}
