/* Instance-stuff */
body {
  background: $classic-base-color url('~images/space-bg.jpg');
}

.bg-profile {
  display: none;
}

@supports (filter: blur(8px)) {
  .bg-profile {
    display: block;
    filter: blur(8px);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;

    .bg-profile-img {
      background-size: cover;
      background-position: center;
      height: calc(100% + 30px);
      margin: -15px;
      width: calc(100% + 30px);
    }
  }
}

.public-layout {
  .activity-stream {
    // There's a shadow floating, removing it
    box-shadow: none;
    
    .entry {
      // Modern sets the background to none, put one back
      // in case the profile has a background
      background: $ui-base-color !important;
      // Also add a separator between posts
      border-bottom: 1px solid lighten($ui-base-color, 8%);
    }
  }

  // Fix the background when hovering too
  .entry:hover,
  .focusable:hover {
    background-color: lighten($ui-base-color, 2%) !important;
  }

  // Add some backgrounds to elements in case there's a background
  .contact-widget,
  .landing-page__information.contact-widget,
  .endorsements-widget {
    background-color: $ui-base-color;
    border-radius: var(--radius);
  }

  // Same as above, but lighter
  .account__section-headline {
    background: lighten($ui-base-color, 8%);
    border-radius: var(--radius) !important;
  }

  // Same as above for the footer, and add some spaces
  .footer {
    background: $ui-base-color;
    border-radius: var(--radius);
    overflow: hidden;
    margin-bottom: 60px;
    margin-top: 10px;
    padding: 15px !important;
  }
}


/* Fixes */
// This was used in mastodon.coffee, I like it
.layout-multiple-columns .column {
  flex-grow: 1;
  max-width: 500px;
}
