/* Fixes */
#mastodon,
.public-layout,
.modal-layout {
  // Make the @ address have a minimum width (so it wraps better)
  // And flex: 1 to push the role tag to the right
  .account__header__tabs__name h1 small {
    flex: 1;
    min-width: 150px;
  }
}

// This was used in mastodon.coffee, I like it
.layout-multiple-columns .column {
  flex-grow: 1;
  max-width: 500px;
}
