name: Build container
on:
  push:
    branches:
      - 'im-in.space'

permissions:
  contents: read
  packages: write

jobs:
  build-image:
    uses: ./.github/workflows/build-container-image.yml
    with:
      platforms: linux/amd64,linux/arm64
      use_native_arm64_builder: false
      push_to_images: |
        ghcr.io/${{ github.repository_owner }}/mastodon
      flavor: |
        latest=true
      tags: |
        type=pep440,pattern={{raw}}
        type=edge,branch=im-in.space
        type=sha,prefix=,format=long
    secrets: inherit
